html.dark {
  background-color: rgb(23, 23, 23);
}

html {
  background-color: rgb(240, 240, 240);
}

.wordgrid {
  height: 500px;
  width: 350px;
  margin: 70px 0 40px;
  max-width: 70vw;
  max-height: 45vh;
}

.keyboard {
  max-height: 50vh;
  max-width: 95vw;
}

@media (max-width: 480px) {
  .wordgrid {
    max-height: 50vh;
    max-width: 90vh;
    height: 50vh;
    width: 90vw;
    margin: 0;
  }

  .keyboard {
    max-height: 25vh;
    max-width: 95vw;
  }
}
